---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import NameImage from '../components/NameImage.astro';
import SocialLinks from '../components/SocialLinks.astro';
import AvatarImage from '../components/AvatarImage.astro';
import palette from '../lib/palette';

const colors = palette.find(p => p.name === 'roygbiv-warm').colors;

let title = 'Nicholas Mitchell | Frontend Engineer 🏄🏻‍♂️';
let description = 'Hi 👋🏻! Welcome to my personal website. Thanks for stopping by';
let permalink = 'https://nicholasmitchell.dev/';

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700;900&display=swap" rel="stylesheet">

    <style global>
      /* Tokens */
      :root {
        --text-color: black;
        --background-color: white;
        --link-hover-color: #841578;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --text-color: white;
          --background-color: #121111;
          --link-hover-color: #d49dce;
        }
      }
    </style>

    <style>
      /* Reset */
      html,
      body,
      div,
      span,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      blockquote,
      pre,
      a,
      abbr,
      address,
      big,
      cite,
      code,
      del,
      em,
      img,
      q,
      s,
      samp,
      small,
      strike,
      strong,
      sub,
      sup,
      tt,
      var,
      b,
      u,
      i,
      dl,
      dt,
      dd,
      ol,
      ul,
      li,
      fieldset,
      form,
      label,
      legend,
      table,
      caption,
      tbody,
      tfoot,
      thead,
      tr,
      th,
      td,
      article,
      aside,
      canvas,
      details,
      embed,
      figure,
      figcaption,
      footer,
      header,
      hgroup,
      main,
      menu,
      nav,
      output,
      ruby,
      section,
      summary,
      time,
      mark,
      audio,
      video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }

      /* HTML5 display-role reset for older browsers */
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      main,
      menu,
      nav,
      section {
        display: block;
      }
      /* HTML5 hidden-attribute fix for newer browsers */
      *[hidden] {
        display: none;
      }
      body {
        line-height: 1;
      }
      ol,
      ul {
        list-style: none;
      }
      blockquote,
      q {
        quotes: none;
      }
      blockquote:before,
      blockquote:after,
      q:before,
      q:after {
        content: '';
        content: none;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      * {
        box-sizing: border-box;
      }
      /* End Reset */

      /*  Utilties */
      .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
      /* End Utilties */

      /* Page Styles */
      html {
        height: 100%;
        font-family: 'Karla', -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
        font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 1, 'tnum' 0, 'onum' 1, 'lnum' 0,
          'dlig' 1;
      }

      body {
        margin: 0;
        padding: 0;
        height: 100%;
        min-width: 100%;
        font-size: 18px;
      }

      body {
        color: var(--text-color);
        background-color: var(--background-color);
      }

      a {
        color: inherit;
      }

      a:hover {
        color: var(--link-hover-color);
      }

      main {
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
        padding: 0px;
      }

      .header-image {
        margin-bottom: 4rem;
      }

      .subtitle {
        background-color: #201b23;
        border-radius: 88px;
        font-size: 1.2rem;
        padding: 2rem;
        line-height: 1.9;
        margin-bottom: 1.8rem;
        margin-top: 1.5rem;
        text-align: center;
      }

      .home-controls {
        display: flex;
      }

      .home-link-list {
        display: flex;
        margin: 8vw;
        justify-content: space-around;
        width: 100%;
      }

      @media (min-width: 68em) {
        section,
        .header-content {
          max-width: 900px;
          margin: 4rem auto;
        }

        .header-content {
          margin: 10rem auto 0rem;
        }

        .home-link-list {
          justify-content: flex-end;
          display: flex;
          flex-direction: column;
          padding: 2vw;
          margin: 0;

          height: 100%;
          width: 100%;
        }

        .home-link-list > a {
          font-size: 2vw;
          line-height: 3.5vw;
        }
      }

      .about {
        background-color: hsl(46deg 53% 39% / 26%);
        color: hsl(44deg 85% 43%);
        border-radius: 88px;
        padding: 4rem 4rem;
        font-size: 1.2rem;
        line-height: 1.9;
        margin-bottom: 1.8rem;
        margin-top: 1.5rem;
        transition: background-color 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53),color 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53);
      }

      .about p {
        margin-bottom: 1.5rem;
      }

      /* :not([data-scroll='0']) .about {
        background-color: rgba(141, 47, 152, 0.26);
        color: rgb(159, 16, 203);
      } */

      [data-scroll='0'] .about,
      [data-scroll='400'] .about {
        background-color: hsl(46deg 53% 39% / 26%);
        color: hsl(44deg 85% 43%);
      }

      [data-scroll='800'] .about {
        background-color: rgba(152, 47, 112, 0.26);
        color: rgb(203, 16, 116);
      }

      [data-scroll]:where(:not([data-scroll='0']), :not([data-scroll='400']), :not([data-scroll='800'])) .about {
        background-color: rgba(141, 47, 152, 0.26);
        color: rgb(159, 16, 203);
      }
      /* End Page Styles */
    </style>
  </head>

  <body>
    <header class="introduction">
      <div class="header-content">
        <div class="header-image">
          <NameImage />
        </div>
        <h1 class="sr-only">Nicholas Mitchell</h1>
        <div class="subtitle">
          <p>
            Hey 👋! I'm a Staff Frontend Engineer based out of Austin, Texas.
            <br>Currently, I work remotely building next-gen o11y software with Cribl. Previously, Engineering Manager and Engineer at Netlify, Frontend at Shogun, SailPoint and IBM IX.
          </p>
        </div>
        <SocialLinks colors={colors} />
      </div>
    </header>
    <main class="layout">
      <section class="about">
        <h2 class="sr-only">About</h2>
        <AvatarImage />
        <p >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
        <p>
          But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself.
        </p>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
        </p>
      </section>
    </main>
  </body>
</html>

<script>
  // The debounce function receives our function as a parameter
  const debounce = (fn) => {

    // This holds the requestAnimationFrame reference, so we can cancel it if we wish
    let frame;

    // The debounce function returns a new function that can receive a variable number of arguments
    return (...params) => {

      // If the frame variable has been defined, clear it now, and queue for next frame
      if (frame) {
        cancelAnimationFrame(frame);
      }

      // Queue our function call for the next frame
      frame = requestAnimationFrame(() => {

        // Call our function and pass any params we received
        fn(...params);
      });

    }
  };


  // Reads out the scroll position and stores it in the data attribute
  // so we can use it in our stylesheets
  const storeScroll = () => {
    document.documentElement.dataset.scroll = (Math.ceil(window.scrollY / 400) * 400).toString();
  }

  // Listen for new scroll events, here we debounce our `storeScroll` function
  document.addEventListener('scroll', debounce(storeScroll), { passive: true });

  // Update scroll position for first time
  storeScroll();
</script>
