---
const { bgColor = 'currentColor' } = Astro.props
---

<div class="avatar" style={`--avatar-bg-color: ${bgColor}`}>
  <svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 256 256">
    <path fill={bgColor} d="M-.5-.5h256v256h-64v-5h-11v-6h-5v-5h-5v-5h-6v-11h6v-5h5v-11h5v-16h6v-11h5v-10h5v-16h6v-27h-6v-5h6v-11c-1.419-.951-3.085-1.284-5-1a552.804 552.804 0 0 0-1-47h-5v-5h-5v-6h-6v-5h-5v-5h-5v-6h-6v-5h-16v-5h-64v5h-10v5h-6v6h-10v5h-6v21h-5v32h-5v16h5v16h-5v38h5v10h16v16h5v11h6v5h-6v6h-10v10h-6v6h-5v10h-5v11h-43V-.5Z"/>
    <path fill="#1c1912" d="M100.5 31.5h11v11h11v5h-6v5h-10v6h16v5h-32v5h-11v11h-5v32h-6v11h-10v10h-5v-16h-5v16h-1v-16h-5v-16h5v-32h11c.99-6.479 1.324-13.146 1-20a40.936 40.936 0 0 0 9-.5c.88-1.356 1.213-2.856 1-4.5 5 1 7-1 6-6 3.213.31 6.213-.023 9-1h16v-5Z"/>
    <path fill="#4f3b36" d="M111.5 31.5h11v5h5v16h-11v-5h6v-5h-11v-11Z"/>
    <path fill="#1a1711" d="M186.5 58.5h5v53c1.068.934 2.401 1.268 4 1v9h-4v-5h-11v-26h-5v-22h-5v-5h-11v-5h-37v-6h26v-5h-21v-11h-5v-5h25v-4h-62v4h-1v-5h64v5h16v5h6v6h5v5h5v5h6v6Z"/>
    <path fill="#010100" d="M122.5 31.5h-37v-4h62v4h-25Z"/>
    <path fill="#4b3833" d="M84.5 31.5h16v5h-16v-5ZM100.5 42.5h6v5h-6v-5Z"/>
    <path fill="#12120b" d="M84.5 31.5v5c-2.787.977-5.787 1.31-9 1 1 5-1 7-6 6 .213 1.644-.12 3.144-1 4.5a40.936 40.936 0 0 1-9 .5c.324 6.854-.01 13.521-1 20v-20h-5v20h-1v-21h6v-5h10v-6h6v-5h10Z"/>
    <path fill="#9d785e" d="M127.5 47.5h5v5h-5v-5Z"/>
    <path d="M58.5 68.5h-5v-20h5v20Z"/>
    <path fill="#4c3934" d="M132.5 47.5h16v5h-16v-5Z"/>
    <path fill="#503c36" d="M111.5 52.5v6h-5v-6h5Z"/>
    <path fill="#4b3833" d="M159.5 58.5v-6h5v6h-5Z"/>
    <path fill="#9f7a5f" d="M111.5 52.5h11v6h-11v-6Z"/>
    <path fill="#371d08" d="M122.5 58.5h37v5h-37v-5Z"/>
    <path fill="#4c3934" d="M186.5 58.5v21h-6v-16h-5v-5h11Z"/>
    <path fill={bgColor} d="M196.5 63.5a552.804 552.804 0 0 1 1 47c1.915-.284 3.581.049 5 1h-6v-48Z"/>
    <path fill="#381d09" d="M122.5 63.5v5h-32v-5h32Z"/>
    <path fill="#ebc6a8" d="M122.5 63.5h37v5h11v32h5v11h-43v16h-5v-11h-5v-5h-38v-37h6v-6h32v-5Z"/>
    <path fill="#381e0a" d="M159.5 63.5h11v5h-11v-5Z"/>
    <path d="M191.5 64.5h4v47h-4v-47ZM48.5 69.5h4v31h-4v-31Z"/>
    <path fill="#381d09" d="M90.5 68.5v6h-6v5h-5v-11h11ZM170.5 68.5h5v22h-5v-22Z"/>
    <path fill="#361c06" d="M79.5 79.5v32h-5v-32h5Z"/>
    <path fill="#a88064" d="M79.5 79.5h5v32h11v11h-5v-6h-11v6h-5v-11h5v-32Z"/>
    <path fill="#4a3833" d="M63.5 90.5h5v5h-5v-5Z"/>
    <path fill="#a98164" d="M170.5 90.5h5v10h-5v-10Z"/>
    <path fill="#371c08" d="M175.5 90.5h5v26h-5v-26Z"/>
    <path d="M43.5 101.5h4v14h-4v-14Z"/>
    <path fill="#4a3833" d="M68.5 111.5h-5v-5h5v5Z"/>
    <path fill="#371c07" d="M68.5 111.5h6v11h-6v-11Z"/>
    <path fill="#734c31" d="M95.5 111.5h5v5h-5v-5Z"/>
    <path fill="#aa8265" d="M100.5 111.5h22v5h-22v-5ZM143.5 111.5v5h-5v11h-6v-16h11Z"/>
    <path fill="#593e29" d="M143.5 111.5h11v5h-11v-5Z"/>
    <path fill="#6f4a2f" d="M154.5 111.5h16v5h5v11h-5v-5h-6v-6h-10v-5Z"/>
    <path fill="#a37c5f" d="M170.5 111.5h5v5h-5v-5Z"/>
    <path fill="#14130b" d="M191.5 64.5v-1h5v48h6v11h-6v5h6v27h-6v-1h5v-25h-5v4h-5v11h-5v-27h5v5h4v-9c-1.599.268-2.932-.066-4-1h4v-47h-4Z"/>
    <path fill="#3e271c" d="M95.5 116.5h16v6h5v10h-10v-5h-6v5h-21v-5h11v-5h5v-6Z"/>
    <path fill="#714a2e" d="M111.5 116.5h11v6h-11v-6Z"/>
    <path fill="#ab8366" d="M122.5 116.5h5v11h-5v-11Z"/>
    <path fill="#3e271c" d="M143.5 116.5h16v6h11v10h-32v-16h5Z"/>
    <path fill="#a37c5f" d="M159.5 116.5h5v6h-5v-6Z"/>
    <path fill="#a88064" d="M175.5 116.5h5v54h-5v16h-5v5h-6v-16h-10v-5h16v-6h5v-26h-16v5h-11v5h-10v-16h32v-5h5v-11Z"/>
    <path fill="#361b06" d="M180.5 116.5h6v27h-6v-27Z"/>
    <path fill="#14110a" d="M63.5 122.5v26h-5v-10h-6v-6h-4v-16h5v16h5v-10h5Z"/>
    <path fill="#361c06" d="M63.5 122.5h5v26h-5v-26Z"/>
    <path fill="#a98165" d="M68.5 122.5h6v5h5v5h21v-5h6v5h10v6h6v16h-6v26h-5v6h-5v-6h-16v16h5v-5h16v5h-11v6h-5v10h-5v6h-6v-11h6v-5h-11v-11h-5v-16h-6v-53Z"/>
    <path fill="#68462d" d="M90.5 122.5h-6v5h-10v-5h5v-6h11v6Z"/>
    <path fill="#583d28" d="M116.5 122.5h6v16h-6v-16Z"/>
    <path fill="#a17a5e" d="M90.5 122.5v5h-6v-5h6Z"/>
    <path fill="#d7ac90" d="M122.5 127.5h10v5h6v16h5v6h5v5h-16v5h-5v-5h-5v-11h5v-10h-5v-11Z"/>
    <path fill="#7e553d" d="M132.5 127.5h6v5h-6v-5Z"/>
    <path fill="#020101" d="M196.5 153.5v-25h5v25h-5Z"/>
    <path fill="#060502" d="M47.5 132.5v38h-5v-38h5Z"/>
    <path fill="#341a05" d="M47.5 132.5h5v6h-5v-6Z"/>
    <path fill="#ebc6a8" d="M79.5 132.5v6h32v37h-11v-5h-5v5h-16v-21h-5v-22h5Z"/>
    <path fill="#341a05" d="M196.5 132.5v11h-5v-11h5Z"/>
    <path fill="#845641" d="M47.5 138.5h5v10h6v6h5v21h-11v-5h-5v-32Z"/>
    <path fill="#361b05" d="M52.5 138.5h6v10h-6v-10Z"/>
    <path fill="#80573d" d="M122.5 138.5h5v10h-5v-10Z"/>
    <path fill="#ebc6a8" d="M154.5 170.5v-6h-6v-10h-5v-6h5v-5h11v-5h16v26h-5v6h-16Z"/>
    <path fill="#563b26" d="M180.5 143.5h11v5h-5v32h-6v11h-5v16h-5v11h-6v5h-5v5h-5v6h-6v5h-16v-5h6v-6h10v-5h6v-21h5v-16h-27v-6h6v-5h5v5h11v-5h10v16h6v-5h5v-16h5v-27Z"/>
    <path fill="#b88a73" d="M191.5 143.5h5v11h-5v16h-5v-22h5v-5Z"/>
    <path fill="#371c07" d="M58.5 148.5h5v6h-5v-6Z"/>
    <path fill="#563b26" d="M63.5 148.5h5v27h6v16h5v11h11v5h-6v5h-5v-5h-5v-11h-6v-16h-5v-32Z"/>
    <path fill="#7d543b" d="M122.5 154.5v5h5v5h5v-5h16v5h-5v6h-27v-16h6Z"/>
    <path fill="#0a0a05" d="M196.5 154.5v16h-5v-16h5Z"/>
    <path fill="#b0886b" d="M148.5 164.5h6v6h-6v-6Z"/>
    <path fill="#080804" d="M47.5 170.5h5v5h11v5h-16v-10Z"/>
    <path fill="#583d28" d="M116.5 170.5h22v5h-11v11h-16v-6h5v-10Z"/>
    <path fill="#a88064" d="M138.5 170.5h5v5h-5v-5Z"/>
    <path fill="#e4bea0" d="M148.5 164.5v6h6v5h-11v-11h5Z"/>
    <path fill="#090904" d="M186.5 170.5h5v10h-5v-10Z"/>
    <path fill="#a77f63" d="M138.5 175.5v5h-6v6h-5v-11h11Z"/>
    <path fill="#a98165" d="M143.5 175.5h11v5h-11v-5Z"/>
    <path fill="#0a0a04" d="M63.5 180.5h5v16h-5v-16Z"/>
    <path fill="#583d2a" d="M111.5 186.5v5h-16v5h-5v-16h16v6h5Z"/>
    <path fill="#060703" d="M186.5 180.5v11h-6v-11h6Z"/>
    <path fill="#4e3832" d="M143.5 186.5h16v5h-16v-5Z"/>
    <path fill="#ada4a2" d="M111.5 186.5h32v5h-32v-5Z"/>
    <path fill="#cfbfba" d="M111.5 191.5h32v5h-5v6h-16v-6h-11v-5Z"/>
    <path fill="#bc8e76" d="M143.5 191.5h16v11h-16v4h-32v-4h-5v-6h16v6h16v-6h5v-5Z"/>
    <path fill="#060703" d="M180.5 191.5v16h-5v-16h5Z"/>
    <path fill="#0a0a04" d="M68.5 196.5h6v11h-6v-11Z"/>
    <path fill="#e7c1a3" d="M106.5 196.5v6h-6v-6h6Z"/>
    <path fill="#e9c4a6" d="M100.5 202.5v5h6v5h5v6h11v5h10v-5h11v-6h5v11h-10v5h-6v6h-5v-6h-16v-5h-5v-5h-6v-6h-5v-10h5Z"/>
    <path fill="#ab8266" d="M100.5 202.5h11v4h32v-4h11v21h-6v-11h-5v-5h-32v5h-5v-5h-6v-5Z"/>
    <path fill="#0b0a04" d="M74.5 207.5h5v5h-5v-5Z"/>
    <path fill="#563b27" d="M143.5 212.5h-5v6h-22v-6h-5v-5h32v5Z"/>
    <path fill="#070803" d="M175.5 207.5v11h-5v-11h5Z"/>
    <path fill="#412612" d="M74.5 212.5h10v11h-5v-5h-5v-6Z"/>
    <path fill="#573c26" d="M95.5 212.5v6h5v5h11v11h-11v-6h-5v-5h-11v-5h6v-6h5Z"/>
    <path fill="#ab8467" d="M95.5 212.5h5v6h-5v-6Z"/>
    <path fill="#aa8265" d="M143.5 212.5v6h-5v-6h5Z"/>
    <path fill="#0c0c07" d="M74.5 212.5v6h-6v-6h6Z"/>
    <path fill="#ab8467" d="M111.5 212.5h5v6h-5v-6Z"/>
    <path fill="#060703" d="M68.5 218.5v5h-5v5h-5v-10h10Z"/>
    <path fill="#735a4b" d="M68.5 218.5h6v10h-6v-10Z"/>
    <path fill="#a98164" d="M74.5 218.5h5v5h5v5h6v6h5v5h11v5h16v6h5v5h-48v-5h-5v-11h-6v-11h6v-10Z"/>
    <path fill="#ab8467" d="M100.5 218.5h6v5h-6v-5Z"/>
    <path fill="#ab8366" d="M122.5 218.5h10v5h-10v-5Z"/>
    <path fill="#090904" d="M170.5 218.5v5h-6v-5h6Z"/>
    <path fill="#3b251b" d="M68.5 223.5v21h6v11h-6v-5h-5v5h-11v-5h-5v-6h5v-10h6v-6h5v-5h5Z"/>
    <path fill="#371c06" d="M84.5 223.5h11v5h-11v-5Z"/>
    <path fill="#ab8467" d="M106.5 223.5h5v5h-5v-5Z"/>
    <path fill="#aa8265" d="M148.5 223.5v5h-10v-5h10Z"/>
    <path fill="#070603" d="M164.5 223.5v11h-5v-11h5Z"/>
    <path fill="#563b25" d="M90.5 228.5h5v6h-5v-6Z"/>
    <path fill="#a98165" d="M111.5 228.5h16v6h5v5h-10v-5h-11v-6Z"/>
    <path fill="#aa8266" d="M138.5 228.5v6h-6v-6h6Z"/>
    <path fill="#351b06" d="M159.5 228.5v6h-5v-6h5Z"/>
    <path fill="#090904" d="M58.5 228.5v6h-6v-6h6Z"/>
    <path fill="#3d220e" d="M95.5 228.5h5v6h11v5h37v5h-42v-5h-11v-11Z"/>
    <path fill="#060703" d="M52.5 234.5v10h-5v-10h5Z"/>
    <path fill="#573c26" d="M111.5 234.5h11v5h-11v-5Z"/>
    <path fill="#391e08" d="M154.5 234.5v5h-6v-5h6Z"/>
    <path fill="#a88064" d="M154.5 234.5h5v21h-27v-5h11v-6h5v-5h6v-5Z"/>
    <path fill="#553b26" d="M159.5 234.5h5v10h-5v-10Z"/>
    <path fill="#0d0d07" d="M164.5 234.5h6v5h-6v-5Z"/>
    <path fill="#72594a" d="M164.5 239.5h11v11h5v5h-16v-16Z"/>
    <path fill="#0b0b06" d="M170.5 239.5h5v5h-5v-5Z"/>
    <path fill="#563b27" d="M68.5 239.5h6v5h-6v-5Z"/>
    <path fill="#060803" d="M47.5 244.5v11h-5v-11h5Z"/>
    <path fill="#573c27" d="M122.5 244.5h21v6h-11v5h-5v-5h-5v-6Z"/>
    <path fill="#3e281d" d="M159.5 244.5h5v11h-5v-11Z"/>
    <path fill="#0a0b05" d="M175.5 244.5h5v6h-5v-6Z"/>
    <path fill="#6d5547" d="M47.5 250.5h5v5h-5v-5Z"/>
    <path fill="#72594a" d="M68.5 255.5h-5v-5h5v5Z"/>
    <path fill="#755b4c" d="M74.5 250.5h5v5h-5v-5Z"/>
    <path fill="#060703" d="M180.5 250.5h11v5h-11v-5Z"/>
  </svg>
</div>

<style>
  .avatar {
    background-color: var(--avatar-bg-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 1rem;
    shape-outside: margin-box;
  }
  svg {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 68em) {
    .avatar {
      width: 8rem;
      height: 8rem;
      margin-right: 1.5rem;
    }
  }
</style>
